@font-face {
    font-family: "A Love of Thunder";
    src: url(../font/a-love-of-thunder.ttf);
}

img.wh {
    width: 300px;
    position: absolute;
    right: 60px;
    top: 250px;
    max-width: 370px;
}

.text-reveal {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8%;
}

.overflow-hidden {
    overflow: hidden;
}

.black-bg {
    overflow: hidden;
    background-color: #000000;
    height: 90%;
    width: 90%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 9;
    .animation-block {
        height: 100%;
        position: relative;
        img {
            max-width: 370px;
        }
    }
}

.brand-animation-container {
    display: flex;
    position: absolute;
    z-index: 99999;
    bottom: 0;
    margin: auto;
    justify-content: center;
    align-items: center;
    animation-name: tranformit;
    animation-iteration-count: 1;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(.42, 0, 0.08, 0.84);
    animation-delay: 12s;
    top: 200px;
    opacity: 0;
    animation-fill-mode: forwards;
}

.letter {
    text-align: center;
    color: black;
    font-size: 10vmax;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 6px;
    animation-delay: 14s;
}

.letter {
    height: 100px;
    position: relative;
    animation-name: example;
    animation-iteration-count: 1;
    transform: scale(0.5);
    margin: 0 -8px;
    $time: 0.3s;
    animation-timing-function: ease-in;
    @for $i from 1 through 9 {
        &:nth-child(#{$i}) {
            animation-duration: $time* $i;
        }
    }
}

// div {}
@keyframes example {
    0% {
        margin: 0 -8px;
        opacity: 0;
    }
    50% {
        margin: 0 8px;
        transform: scale(0, 1) rotate(180deg) translateX(50%);
    }
    100% {
        margin: 0 -8px;
        transform: scale(0.5);
    }
}

@keyframes tranformit {
    0% {
        right: 0%;
        opacity: 0;
    }
    50% {
        right: 50%;
        transform: scale(2);
        opacity: 1;
    }
    100% {
        right: 10%;
        opacity: 1;
    }
}

.text-reveal {
    p {
        font-family: 'A Love of Thunder';
        font-style: normal;
        font-weight: 400;
        font-size: 66px;
        line-height: 84px;
        color: #FFFFFF;
        width: 0%;
        animation: typing1 2s steps(84);
        animation-delay: 17s;
        animation-fill-mode: forwards;
        color: #FFFFFF;
        white-space: nowrap;
        overflow: hidden;
    }
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes typing1 {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

#demo {
    position: absolute;
    width: 100%;
    height: 100vh;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    justify-content: center;
}

#demo h3 {
    position: absolute;
    font-family: 'A Love of Thunder';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 84px;
    margin: a;
    padding: 0;
    width: 800px;
    text-align: center;
    visibility: hidden;
    top: 30%;
    bottom: 10%;
    margin: auto;
    color: #FFFFFF;
}

.textwrapper {
    height: 100vh;
    display: -ms-grid;
    display: grid;
    place-items: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 80%;
}

.typing-demo {
    span {
        font-size: 50px;
    }
    p {
        margin: 0;
        text-transform: uppercase;
        white-space: nowrap;
        overflow: hidden;
        font-size: 2em;
        font-family: 'A Love of Thunder';
        font-style: normal;
        font-weight: 400;
        font-size: 45px;
        line-height: 58px;
        text-align: center;
        color: #FFFFFF;
        display: block;
        &:first-child {
            width: 100%;
            animation: typing01 2s steps(84);
            animation-delay: 25s;
        }
        &:nth-child(2) {
            width: 0%;
            animation: typing02 2s steps(84);
            animation-delay: 27s;
            animation-fill-mode: forwards;
            color: #FFFFFF;
        }
        &:nth-child(3) {
            width: 0%;
            animation: typing03 2s steps(84);
            animation-delay: 29s;
            animation-fill-mode: forwards;
            color: #FFFFFF;
        }
    }
}

.overlay {
    position: relative;
    height: 100vh;
    background-color: #333333;
    &::after {
        bottom: 0;
        height: 30vh;
        content: "";
        width: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.159), #00000080, #000000d4, black);
    }
}

@keyframes typing01 {
    from {
        width: 0
    }
}

@keyframes typing02 {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes typing03 {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}