@font-face {
  font-family: "A Love of Thunder";
  src: url(../font/a-love-of-thunder.ttf);
}

.overflow-hidden {
  overflow: hidden;
}

.black-bg {
  background-image: url(../images/banner.png);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 9;
}

.black-bg .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.black-bg .container img.wh {
  width: 300px;
  max-width: 370px;
}

.text-reveal .firstpara {
  font-family: 'A Love of Thunder';
  font-style: normal;
  font-weight: 400;
  font-size: 66px;
  line-height: 84px;
  color: #FFFFFF;
  width: 0%;
  -webkit-animation: typing 2s steps(84);
          animation: typing 2s steps(84);
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  color: #FFFFFF;
  white-space: nowrap;
  overflow: hidden;
}

.text-reveal .secondpara {
  font-family: 'A Love of Thunder';
  font-style: normal;
  font-weight: 400;
  font-size: 66px;
  line-height: 84px;
  color: #FFFFFF;
  width: 0%;
  -webkit-animation: typing 2s steps(84);
          animation: typing 2s steps(84);
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  color: #FFFFFF;
  white-space: nowrap;
  overflow: hidden;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes typing1 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing1 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.textwrapper {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 80%;
}

.typing-demo span {
  font-size: 50px;
}

.typing-demo p {
  margin: 0;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  font-size: 2em;
  font-family: 'A Love of Thunder';
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 58px;
  text-align: center;
  color: #FFFFFF;
  display: block;
}

.typing-demo p:nth-child(2) {
  width: 0%;
  -webkit-animation: typing02 2s steps(84);
          animation: typing02 2s steps(84);
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  color: #FFFFFF;
}

.typing-demo p:nth-child(3) {
  width: 0%;
  -webkit-animation: typing03 2s steps(84);
          animation: typing03 2s steps(84);
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  color: #FFFFFF;
}

.typing-demo .first-para {
  margin: 0;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  font-size: 2em;
  font-family: 'A Love of Thunder';
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 58px;
  text-align: center;
  color: #FFFFFF;
  display: block;
  width: 0%;
  -webkit-animation: typing02 2s steps(84);
          animation: typing02 2s steps(84);
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  color: #FFFFFF;
}

.overlay {
  position: relative;
  height: 100vh;
  background-color: #333333;
}

.overlay::after {
  bottom: 0;
  height: 30vh;
  content: "";
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.159)), color-stop(#00000080), color-stop(#000000d4), to(black));
  background-image: linear-gradient(rgba(0, 0, 0, 0.159), #00000080, #000000d4, black);
}

@-webkit-keyframes typing01 {
  from {
    width: 0;
  }
}

@keyframes typing01 {
  from {
    width: 0;
  }
}

@-webkit-keyframes typing02 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing02 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes typing03 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing03 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
/*# sourceMappingURL=animations.css.map */