@import url("https://fonts.cdnfonts.com/css/avenir-lt-std");
$yellow: #f9ad19;
@font-face {
    font-family: "A Love of Thunder";
    src: url(../font/a-love-of-thunder.ttf);
}

.anavbar-toggle {
    transition: transform 400ms;
    user-select: none;
    cursor: pointer;
    position: absolute;
    z-index: 20;
    top: 10px;
    right: 1em;
    @media screen and (min-width: 992px) {
        right: 3em;
    }
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    .line {
        fill: none;
        transition-delay: 400ms, 0;
        transition-property: stroke, stroke-dasharray, stroke-dashoffset;
        transition-timing-function: ease;
        transition-duration: 400ms;
        stroke: #000;
        stroke-width: 5.5;
        stroke-linecap: round;
    }
    .line.top {
        stroke-dasharray: 40 139;
    }
    .line.bottom {
        stroke-dasharray: 20 180;
        stroke-dashoffset: -20px;
    }
    &:not(.active) {
        &:hover {
            .line.bottom {
                stroke-dasharray: 40 180;
                stroke-dashoffset: 0px;
            }
        }
    }
}

.anavbar-toggle.active {
    transform: rotate(45deg);
    .line {
        stroke: #ffffff;
    }
    .line.top {
        stroke-dashoffset: -98px;
    }
    .line.bottom {
        stroke-dashoffset: -138px;
    }
}

.anavbar {
    position: fixed;
    width: 100%;
    z-index: 2;
    display: none;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    ul {
        width: 100%;
        max-width: 400px;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            opacity: 0;
            a {
                color: white;
                text-decoration: none;
                font-size: 25px;
                display: block;
                text-align: left;
                padding: 20px 0;
                font-weight: bold;
                letter-spacing: 2px;
                text-transform: uppercase;
                cursor: pointer;
                transition: all ease 500ms;
                position: relative;
                &:before {
                    content: attr(data-text);
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 70px;
                    opacity: 0;
                    transition: opacity ease 500ms;
                }
                &:hover {
                    letter-spacing: 3px;
                    &:before {
                        opacity: 0.2;
                    }
                }
            }
        }
    }
}

#bg-circle {
    transform: scale(0);
    width: 80px;
    height: 80px;
    background: #000000;
    position: fixed;
    top: 1rem;
    right: 1rem;
    border-radius: 50%;
    z-index: 1;
}

.navbar {
    padding: 10px 0;
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 85% !important;
    }
}

.grid-hero-banner {
    .image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        position: relative;
        background-color: #f9ad19;
    }
    img {
        transform-origin: left;
    }
    .image-container,
    .image-container-2 {
        visibility: hidden;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: #f9ad19;
    }
    @media screen and (max-width: 992px) {
        .container {
            max-width: 99% !important;
        }
    }
    @media screen and (min-width: 992px) {
        height: 100vh;
    }
    background-color: white;
    .row {
        &>.col-md-5 {
            @media screen and (min-width: 992px) {
                height: 100vh;
            }
            @media screen and (max-width: 992px) {
                flex-direction: column;
            }
            @media screen and (min-width: 992px) {
                width: 38%;
            }
            padding: 0;
            display: flex;
        }
        .col-md-2 {
            @media screen and (min-width: 992px) {
                width: 24%;
            }
        }
    }
    .col-div {
        display: flex;
        @media screen and (max-width: 992px) {
            width: 100%;
        }
        @media screen and (min-width: 992px) {
            flex-direction: column;
        }
        height: 100%;
        flex: 1;
        width: 33.33333333%;
        .image {
            border: thin solid white;
            flex: 1;
            position: relative;
            overflow: hidden;
            img {
                position: absolute;
                object-fit: cover;
                object-position: center;
                height: 100%;
            }
        }
    }
    .text-block {
        text-align: center;
        @media screen and (min-width: 992px) {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translate(-50%, -50%);
            left: 50%;
        }
        width: 95%;
        margin: auto;
        h6 {
            font-family: "A Love of Thunder";
            font-style: normal;
            font-weight: 400;
            font-size: 1em;
            @media screen and (min-width: 992px) {
                font-size: 1.6em;
            }
            line-height: 35px;
            color: #000000;
        }
        .mainlogo {
            width: 60%;
            @media screen and (min-width: 992px) {
                width: 90%;
            }
            margin-bottom: 20px;
        }
        .wolfhowlz {
            display: flex;
            align-items: center;
            justify-content: center;
            @media screen and (max-width: 992px) {
                width: 40%;
                margin: auto;
                img {
                    width: 100%;
                }
            }
            img {
                filter: invert(1);
            }
        }
        .yellow-line {
            margin: 20px auto;
            width: 90%;
        }
        p {
            font-family: "Avenir LT Std";
            font-style: normal;
            font-weight: 750;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            color: #000000;
        }
    }
}

@media screen and (max-width: 992px) {
    .small {
        &-top-row {
            .image {
                height: 65px;
            }
        }
        &-mid-row {
            .image {
                height: 108px;
            }
        }
        &-bottom-row {
            .image {
                height: 88px;
            }
        }
        img {
            position: absolute;
        }
    }
}

body {
    letter-spacing: 0.2px;
}

// font-family: 'Avenir LT Std', sans-serif;
.yellow-line {
    border-bottom: 1px solid $yellow;
    position: relative;
    &::before,
    &::after {
        content: "";
        background: $yellow;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        border-radius: 50%;
    }
    &::before {
        left: -5px;
    }
    &::after {
        right: -5px;
    }
}

.description {
    font-family: "Avenir LT Std";
    font-style: normal;
    font-weight: 400;
    @media screen and (min-width: 992px) {
        font-size: 21px;
    }
    line-height: 124%;
    /* or 26px */
    color: #504b4b;
}

.section {
    overflow: hidden;
}

.section- {
    &title {
        font-family: "A Love of Thunder";
        font-style: normal;
        font-weight: 400;
        font-size: 1.8em;
        @media screen and (max-width: 992px) {
            margin: auto;
            line-height: 95.5%;
        }
        @media screen and (min-width: 992px) {
            font-size: 3em;
            line-height: 58px;
        }
        text-align: center;
        color: #000000;
    }
    &subtitle {
        font-family: "A Love of Thunder";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 118%;
        @media screen and (min-width: 992px) {
            font-size: 18px;
            line-height: 118%;
        }
        text-align: center;
        color: #000000;
        &-large {
            font-family: "A Love of Thunder";
            font-style: normal;
            font-weight: 400;
            font-size: 27px;
            line-height: 95.5%;
            /* identical to box height, or 26px */
            text-align: center;
            color: #010101;
        }
    }
    &description {
        font-family: "Avenir LT Std";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        @media screen and (min-width: 992px) {
            font-size: 18px;
        }
        line-height: 118%;
        text-align: center;
        color: #504b4b;
    }
}

.about {
    background: #e3e3e3;
    padding: 50px 0;
    @media screen and (min-width: 992px) {
        padding: 80px 0;
    }
    .container {
        max-width: 500px;
        .section- {
            &description {
                margin-top: 25px;
                margin-bottom: 25px;
            }
        }
        .yellow-line {
            margin: auto;
            width: 90%;
        }
        .counter-section {
            @media screen and (max-width: 992px) {
                max-width: 200px;
                margin: auto;
            }
            .sections-slots {
                @media screen and (min-width: 992px) {
                    flex: 1;
                    &:nth-child(2) {
                        margin: 0 10px;
                    }
                }
                @media screen and (min-width: 992px) {
                    min-width: 122px;
                }
                min-height: 104px;
                background: #ffffff;
                border: 1px solid rgba(0,
                0,
                0,
                0.18);
                box-shadow: 0px 4px 4px rgba(0,
                0,
                0,
                0.05);
                border-radius: 4px;
                padding: 10px;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                .slots-title {
                    font-family: "A Love of Thunder";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 29px;
                    line-height: 118%;
                    /* or 34px */
                    text-align: center;
                    color: #383535;
                }
                .slots-description {
                    font-family: "Avenir LT Std";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 102.5%;
                    /* or 18px */
                    text-align: center;
                    color: #312f2f;
                }
            }
        }
    }
}

// wolf-services
.wolf-services {
    padding: 100px 0 40px;
    @media screen and (min-width: 992px) {
        padding: 100px 0 80px;
    }
    position: relative;
    background-position-x: -100px;
    background-image: url(../images/servicesbg.png);
    // &::before {
    //     background-image: url(../images/servicesbg.png);
    //     content: "";
    //     position: absolute;
    //     height: 100%;
    //     left: 0;
    //     top: 0;
    //     width: 100%;
    //     z-index: -1;
    //     top: -100px;
    // }
    img {
        max-width: 468px;
        width: 100%;
    }
    .container {
        max-width: 1112px;
    }
    .text-block {
        margin: auto;
        text-align: center;
        max-width: 496px;
        .yellow-line {
            width: 70%;
            margin: auto;
        }
    }
    .image-text-block {
        @media screen and (min-width: 992px) {
            text-align: left;
        }
        h6 {
            font-family: "A Love of Thunder";
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 118%;
            text-align: center;
            @media screen and (min-width: 992px) {
                font-size: 38px;
                text-align: left;
            }
            color: #000000;
        }
        ul {
            li {
                font-family: "Avenir LT Std";
                font-style: normal;
                font-weight: 750;
                @media screen and (min-width: 992px) {
                    font-size: 21px;
                }
                line-height: 192%;
                color: #504b4b;
                position: relative;
                list-style-type: none;
                &::after {
                    content: "";
                    height: 43px;
                    width: 43px;
                    position: absolute;
                    top: -5px;
                    @media screen and (min-width: 992px) {
                        top: 3px;
                        bottom: 0;
                        margin: auto;
                    }
                    left: -40px;
                    background-image: url(../images/arrow.svg);
                    background-size: 100%;
                    background-position: center;
                }
            }
        }
    }
    .section-subtitle-large {
        font-size: 13px;
        @media screen and (min-width: 992px) {
            font-size: 27px;
        }
    }
    .reverse-row {
        .row {
            &:nth-child(even) {
                flex-direction: row-reverse;
                justify-content: center;
                .col-md-6:nth-child(2) {
                    @media screen and (min-width: 992px) {
                        padding-left: 8%;
                    }
                }
                .col-md-6:nth-child(1) {
                    @media screen and (min-width: 992px) {
                        padding-right: 2%;
                    }
                }
            }
        }
    }
}

.tools {
    background-image: url(../images/toolsbg.png);
    background-size: contain;
    @media screen and (min-width: 992px) {
        background-size: cover;
    }
    padding: 50px 0;
    @media screen and (min-width: 992px) {
        padding: 80px 0;
    }
    .container {
        max-width: 1112px;
    }
    .section-title {
        font-size: 27px;
        margin-bottom: 30px;
        @media screen and (min-width: 992px) {
            font-size: 48px;
            margin-bottom: 0px;
        }
    }
    .image-text-block {
        text-align: center;
        @media screen and (min-width: 992px) {
            text-align: left;
        }
        h6 {
            font-family: "A Love of Thunder";
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            margin-top: 20px;
            @media screen and (min-width: 992px) {
                font-size: 38px;
            }
            line-height: 118%;
            color: #000000;
        }
    }
    .row {
        &:nth-child(even) {
            flex-direction: row-reverse;
            justify-content: center;
        }
    }
    .description {
        line-height: 130%;
        margin-top: 10px;
        font-size: 15px;
        @media screen and (min-width: 992px) {
            line-height: 130%;
            margin-top: 30px;
        }
    }
}

.brands {
    display: flex;
    margin-top: 30px;
    .brand {
        background: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.18);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        min-height: 92px;
        flex: 1;
        &:nth-child(2) {
            margin: 0 10px;
        }
    }
}

.purpose {
    padding: 80px 0;
    background: #121212;
    .container {
        max-width: 1112px;
    }
}

footer {
    background: url(../images/footersmbg.png);
    padding: 40px 0;
    @media screen and (min-width: 992px) {
        background: url(../images/footerbg.png);
        background-size: contain;
        padding: 80px 0;
    }
    background-size: cover;
    .col-md-3,
    .col-md-2 {
        position: relative;
        @media screen and (min-width: 992px) {
            &::after {
                content: "";
                position: absolute;
                border-right: 1px solid rgba(255, 255, 255, 0.26);
                height: 100%;
                right: -30px;
                top: 0;
            }
            &:last-child:after {
                display: none;
            }
        }
    }
    h6 {
        font-family: "A Love of Thunder";
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 100.5%;
        color: #ffffff;
        margin-bottom: 20px;
    }
    p {
        font-family: "Avenir LT Std";
        font-style: normal;
        font-weight: 750;
        font-size: 16px;
        line-height: 118%;
        /* or 19px */
        color: #595858;
    }
    ul {
        padding-left: 0;
        li {
            list-style-type: none;
            a {
                font-family: "Avenir LT Std";
                font-style: normal;
                font-weight: 750;
                font-size: 16px;
                line-height: 168.5%;
                text-decoration: none;
                /* or 27px */
                color: #595858;
            }
        }
    }
    .border-bottom {
        border-bottom: thin solid #595858 !important;
        padding-top: 30px;
        padding-bottom: 10px;
        @media screen and (min-width: 992px) {
            border-bottom: none !important;
        }
    }
    .copyright {
        font-family: "Avenir LT Std";
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        @media screen and (min-width: 992px) {
            font-size: 15px;
        }
        line-height: 18px;
        color: #9b9797;
    }
}

///////////////////
///
///