@import url("http://fonts.cdnfonts.com/css/avenir-lt-std");
@font-face {
  font-family: "A Love of Thunder";
  src: url(../font/a-love-of-thunder.ttf);
}

.navbar {
  padding: 10px 0;
}

.navbar .hamburger {
  width: 30px;
}

.navbar .hamburger .bar {
  width: 100%;
  height: 4px;
  background-color: black;
  border-radius: 50px;
}

.navbar .hamburger .bar:nth-child(2) {
  width: 25px;
  margin: 5px 0;
}

.grid-hero-banner {
  height: 100vh;
  background-color: white;
}

.grid-hero-banner .row > .col-md-5 {
  height: 100vh;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 992px) {
  .grid-hero-banner .row > .col-md-5 {
    width: 38%;
  }
}

@media screen and (min-width: 992px) {
  .grid-hero-banner .row .col-md-2 {
    width: 24%;
  }
}

.grid-hero-banner .col-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 33.33333333%;
}

.grid-hero-banner .col-div .image {
  border: thin solid white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.grid-hero-banner .col-div .image img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
}

.grid-hero-banner .text-block {
  text-align: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translate(-50%, -50%);
  left: 50%;
  width: 95%;
}

.grid-hero-banner .text-block h6 {
  font-family: "A Love of Thunder";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 35px;
  /* identical to box height */
  color: #000000;
}

.grid-hero-banner .text-block .mainlogo {
  width: 90%;
  margin-bottom: 20px;
}

.grid-hero-banner .text-block .wolfhowlz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-hero-banner .text-block .wolfhowlz img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.grid-hero-banner .text-block .yellow-line {
  margin: 20px auto;
  width: 90%;
}

.grid-hero-banner .text-block p {
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 750;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

body {
  background: #e3e3e3;
  letter-spacing: 0.2px;
}

.yellow-line {
  border: 1px solid #f9ad19;
  position: relative;
}

.yellow-line::before, .yellow-line::after {
  content: "";
  background: #f9ad19;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
}

.yellow-line::before {
  left: -5px;
}

.yellow-line::after {
  right: -5px;
}

.description {
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 124%;
  /* or 26px */
  color: #504b4b;
}

.section-title {
  font-family: "A Love of Thunder";
  font-style: normal;
  font-weight: 400;
  font-size: 61px;
  line-height: 58px;
  text-align: center;
  color: #000000;
}

.section-subtitle {
  font-family: "A Love of Thunder";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 118%;
  text-align: center;
  color: #000000;
}

.section-subtitle-large {
  font-family: "A Love of Thunder";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 95.5%;
  /* identical to box height, or 26px */
  text-align: center;
  color: #010101;
}

.section-description {
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 118%;
  text-align: center;
  color: #504b4b;
}

.about {
  background: #e3e3e3;
  padding: 80px 0;
}

.about .container {
  max-width: 500px;
}

.about .container .section-description {
  margin-top: 25px;
  margin-bottom: 25px;
}

.about .container .yellow-line {
  margin: auto;
  margin-top: 20px;
  width: 90%;
}

.about .container .counter-section .sections-slots {
  min-height: 104px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 25px 5px 0;
}

@media screen and (max-width: 992px) {
  .about .container .counter-section .sections-slots {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .about .container .counter-section .sections-slots:nth-child(2) {
    margin: 0 10px;
  }
}

@media screen and (min-width: 992px) {
  .about .container .counter-section .sections-slots {
    min-width: 122px;
  }
}

.about .container .counter-section .sections-slots .slots-title {
  font-family: "A Love of Thunder";
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 118%;
  /* or 34px */
  text-align: center;
  color: #383535;
}

.about .container .counter-section .sections-slots .slots-description {
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 102.5%;
  /* or 18px */
  text-align: center;
  color: #312f2f;
}

.wolf-services {
  padding: 100px 0 80px;
  position: relative;
  background-position-x: -100px;
  background-image: url(../images/servicesbg.png);
}

.wolf-services img {
  max-width: 468px;
  width: 100%;
}

.wolf-services .container {
  max-width: 1112px;
}

.wolf-services .text-block {
  margin: auto;
  text-align: center;
  max-width: 496px;
}

.wolf-services .text-block .yellow-line {
  width: 70%;
  margin: auto;
}

.wolf-services .image-text-block {
  text-align: left;
}

.wolf-services .image-text-block h6 {
  font-family: "A Love of Thunder";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 118%;
  color: #000000;
}

.wolf-services .image-text-block ul li {
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 750;
  font-size: 21px;
  line-height: 192%;
  color: #504b4b;
  position: relative;
  list-style-type: none;
}

.wolf-services .image-text-block ul li::after {
  content: "";
  height: 43px;
  width: 43px;
  position: absolute;
  top: 3px;
  bottom: 0;
  margin: auto;
  left: -40px;
  background-image: url(../images/arrow.svg);
  background-size: 100%;
  background-position: center;
}

.wolf-services .reverse-row .row:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wolf-services .reverse-row .row:nth-child(even) .col-md-6:nth-child(2) {
  padding-left: 8%;
}

.wolf-services .reverse-row .row:nth-child(even) .col-md-6:nth-child(1) {
  padding-right: 2%;
}

.tools {
  background-image: url(../images/toolsbg.png);
  background-size: cover;
  padding: 80px 0;
}

.tools .container {
  max-width: 1112px;
}

.tools .section-title {
  font-size: 48px;
}

.tools .image-text-block {
  text-align: left;
}

.tools .image-text-block h6 {
  font-family: "A Love of Thunder";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 118%;
  color: #000000;
}

.tools .row:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tools .description {
  line-height: 130%;
  margin-top: 30px;
}

.brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.brands .brand {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  min-height: 92px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.brands .brand:nth-child(2) {
  margin: 0 10px;
}

.purpose {
  padding: 80px 0;
  background: #121212;
}

.purpose .container {
  max-width: 1112px;
}

footer {
  background: url(../images/footerbg.png);
  padding: 80px 0;
  background-size: contain;
}

footer .col-md-3,
footer .col-md-2 {
  position: relative;
}

footer .col-md-3::after,
footer .col-md-2::after {
  content: "";
  position: absolute;
  border-right: 1px solid rgba(255, 255, 255, 0.26);
  height: 100%;
  right: -30px;
  top: 0;
}

footer h6 {
  font-family: "A Love of Thunder";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 100.5%;
  color: #ffffff;
  margin-bottom: 20px;
}

footer p {
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 750;
  font-size: 16px;
  line-height: 118%;
  /* or 19px */
  color: #595858;
}

footer ul {
  padding-left: 0;
}

footer ul li {
  list-style-type: none;
}

footer ul li a {
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 750;
  font-size: 16px;
  line-height: 168.5%;
  text-decoration: none;
  /* or 27px */
  color: #595858;
}
/*# sourceMappingURL=style.css.map */