@import url("https://fonts.cdnfonts.com/css/avenir-lt-std");
@font-face {
  font-family: "A Love of Thunder";
  src: url(../font/a-love-of-thunder.ttf);
}

.anavbar-toggle {
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  position: absolute;
  z-index: 20;
  top: 10px;
  right: 1em;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
}

@media screen and (min-width: 992px) {
  .anavbar-toggle {
    right: 3em;
  }
}

.anavbar-toggle .line {
  fill: none;
  -webkit-transition-delay: 400ms, 0;
          transition-delay: 400ms, 0;
  -webkit-transition-property: stroke, stroke-dasharray, stroke-dashoffset;
  transition-property: stroke, stroke-dasharray, stroke-dashoffset;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.anavbar-toggle .line.top {
  stroke-dasharray: 40 139;
}

.anavbar-toggle .line.bottom {
  stroke-dasharray: 20 180;
  stroke-dashoffset: -20px;
}

.anavbar-toggle:not(.active):hover .line.bottom {
  stroke-dasharray: 40 180;
  stroke-dashoffset: 0px;
}

.anavbar-toggle.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.anavbar-toggle.active .line {
  stroke: #ffffff;
}

.anavbar-toggle.active .line.top {
  stroke-dashoffset: -98px;
}

.anavbar-toggle.active .line.bottom {
  stroke-dashoffset: -138px;
}

.anavbar {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 30px;
}

.anavbar ul {
  width: 100%;
  max-width: 400px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.anavbar ul li {
  opacity: 0;
}

.anavbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  display: block;
  text-align: left;
  padding: 20px 0;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms;
  position: relative;
}

.anavbar ul li a:before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 70px;
  opacity: 0;
  -webkit-transition: opacity ease 500ms;
  transition: opacity ease 500ms;
}

.anavbar ul li a:hover {
  letter-spacing: 3px;
}

.anavbar ul li a:hover:before {
  opacity: 0.2;
}

#bg-circle {
  -webkit-transform: scale(0);
          transform: scale(0);
  width: 80px;
  height: 80px;
  background: #000000;
  position: fixed;
  top: 1rem;
  right: 1rem;
  border-radius: 50%;
  z-index: 1;
}

.navbar {
  padding: 10px 0;
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 85% !important;
  }
}

.grid-hero-banner {
  background-color: white;
}

.grid-hero-banner .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #f9ad19;
}

.grid-hero-banner img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.grid-hero-banner .image-container,
.grid-hero-banner .image-container-2 {
  visibility: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f9ad19;
}

@media screen and (max-width: 992px) {
  .grid-hero-banner .container {
    max-width: 99% !important;
  }
}

@media screen and (min-width: 992px) {
  .grid-hero-banner {
    height: 100vh;
  }
}

.grid-hero-banner .row > .col-md-5 {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 992px) {
  .grid-hero-banner .row > .col-md-5 {
    height: 100vh;
  }
}

@media screen and (max-width: 992px) {
  .grid-hero-banner .row > .col-md-5 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 992px) {
  .grid-hero-banner .row > .col-md-5 {
    width: 38%;
  }
}

@media screen and (min-width: 992px) {
  .grid-hero-banner .row .col-md-2 {
    width: 24%;
  }
}

.grid-hero-banner .col-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 33.33333333%;
}

@media screen and (max-width: 992px) {
  .grid-hero-banner .col-div {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .grid-hero-banner .col-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.grid-hero-banner .col-div .image {
  border: thin solid white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  overflow: hidden;
}

.grid-hero-banner .col-div .image img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
}

.grid-hero-banner .text-block {
  text-align: center;
  width: 95%;
  margin: auto;
}

@media screen and (min-width: 992px) {
  .grid-hero-banner .text-block {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translate(-50%, -50%);
    left: 50%;
  }
}

.grid-hero-banner .text-block h6 {
  font-family: "A Love of Thunder";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 35px;
  color: #000000;
}

@media screen and (min-width: 992px) {
  .grid-hero-banner .text-block h6 {
    font-size: 1.6em;
  }
}

.grid-hero-banner .text-block .mainlogo {
  width: 60%;
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .grid-hero-banner .text-block .mainlogo {
    width: 90%;
  }
}

.grid-hero-banner .text-block .wolfhowlz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 992px) {
  .grid-hero-banner .text-block .wolfhowlz {
    width: 40%;
    margin: auto;
  }
  .grid-hero-banner .text-block .wolfhowlz img {
    width: 100%;
  }
}

.grid-hero-banner .text-block .wolfhowlz img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.grid-hero-banner .text-block .yellow-line {
  margin: 20px auto;
  width: 90%;
}

.grid-hero-banner .text-block p {
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 750;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

@media screen and (max-width: 992px) {
  .small-top-row .image {
    height: 65px;
  }
  .small-mid-row .image {
    height: 108px;
  }
  .small-bottom-row .image {
    height: 88px;
  }
  .small img {
    position: absolute;
  }
}

body {
  letter-spacing: 0.2px;
}

.yellow-line {
  border-bottom: 1px solid #f9ad19;
  position: relative;
}

.yellow-line::before, .yellow-line::after {
  content: "";
  background: #f9ad19;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
}

.yellow-line::before {
  left: -5px;
}

.yellow-line::after {
  right: -5px;
}

.description {
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 400;
  line-height: 124%;
  /* or 26px */
  color: #504b4b;
}

@media screen and (min-width: 992px) {
  .description {
    font-size: 21px;
  }
}

.section {
  overflow: hidden;
}

.section-title {
  font-family: "A Love of Thunder";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8em;
  text-align: center;
  color: #000000;
}

@media screen and (max-width: 992px) {
  .section-title {
    margin: auto;
    line-height: 95.5%;
  }
}

@media screen and (min-width: 992px) {
  .section-title {
    font-size: 3em;
    line-height: 58px;
  }
}

.section-subtitle {
  font-family: "A Love of Thunder";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 118%;
  text-align: center;
  color: #000000;
}

@media screen and (min-width: 992px) {
  .section-subtitle {
    font-size: 18px;
    line-height: 118%;
  }
}

.section-subtitle-large {
  font-family: "A Love of Thunder";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 95.5%;
  /* identical to box height, or 26px */
  text-align: center;
  color: #010101;
}

.section-description {
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 118%;
  text-align: center;
  color: #504b4b;
}

@media screen and (min-width: 992px) {
  .section-description {
    font-size: 18px;
  }
}

.about {
  background: #e3e3e3;
  padding: 50px 0;
}

@media screen and (min-width: 992px) {
  .about {
    padding: 80px 0;
  }
}

.about .container {
  max-width: 500px;
}

.about .container .section-description {
  margin-top: 25px;
  margin-bottom: 25px;
}

.about .container .yellow-line {
  margin: auto;
  width: 90%;
}

@media screen and (max-width: 992px) {
  .about .container .counter-section {
    max-width: 200px;
    margin: auto;
  }
}

.about .container .counter-section .sections-slots {
  min-height: 104px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 992px) {
  .about .container .counter-section .sections-slots {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .about .container .counter-section .sections-slots:nth-child(2) {
    margin: 0 10px;
  }
}

@media screen and (min-width: 992px) {
  .about .container .counter-section .sections-slots {
    min-width: 122px;
  }
}

.about .container .counter-section .sections-slots .slots-title {
  font-family: "A Love of Thunder";
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 118%;
  /* or 34px */
  text-align: center;
  color: #383535;
}

.about .container .counter-section .sections-slots .slots-description {
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 102.5%;
  /* or 18px */
  text-align: center;
  color: #312f2f;
}

.wolf-services {
  padding: 100px 0 40px;
  position: relative;
  background-position-x: -100px;
  background-image: url(../images/servicesbg.png);
}

@media screen and (min-width: 992px) {
  .wolf-services {
    padding: 100px 0 80px;
  }
}

.wolf-services img {
  max-width: 468px;
  width: 100%;
}

.wolf-services .container {
  max-width: 1112px;
}

.wolf-services .text-block {
  margin: auto;
  text-align: center;
  max-width: 496px;
}

.wolf-services .text-block .yellow-line {
  width: 70%;
  margin: auto;
}

@media screen and (min-width: 992px) {
  .wolf-services .image-text-block {
    text-align: left;
  }
}

.wolf-services .image-text-block h6 {
  font-family: "A Love of Thunder";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 118%;
  text-align: center;
  color: #000000;
}

@media screen and (min-width: 992px) {
  .wolf-services .image-text-block h6 {
    font-size: 38px;
    text-align: left;
  }
}

.wolf-services .image-text-block ul li {
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 750;
  line-height: 192%;
  color: #504b4b;
  position: relative;
  list-style-type: none;
}

@media screen and (min-width: 992px) {
  .wolf-services .image-text-block ul li {
    font-size: 21px;
  }
}

.wolf-services .image-text-block ul li::after {
  content: "";
  height: 43px;
  width: 43px;
  position: absolute;
  top: -5px;
  left: -40px;
  background-image: url(../images/arrow.svg);
  background-size: 100%;
  background-position: center;
}

@media screen and (min-width: 992px) {
  .wolf-services .image-text-block ul li::after {
    top: 3px;
    bottom: 0;
    margin: auto;
  }
}

.wolf-services .section-subtitle-large {
  font-size: 13px;
}

@media screen and (min-width: 992px) {
  .wolf-services .section-subtitle-large {
    font-size: 27px;
  }
}

.wolf-services .reverse-row .row:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 992px) {
  .wolf-services .reverse-row .row:nth-child(even) .col-md-6:nth-child(2) {
    padding-left: 8%;
  }
}

@media screen and (min-width: 992px) {
  .wolf-services .reverse-row .row:nth-child(even) .col-md-6:nth-child(1) {
    padding-right: 2%;
  }
}

.tools {
  background-image: url(../images/toolsbg.png);
  background-size: contain;
  padding: 50px 0;
}

@media screen and (min-width: 992px) {
  .tools {
    background-size: cover;
  }
}

@media screen and (min-width: 992px) {
  .tools {
    padding: 80px 0;
  }
}

.tools .container {
  max-width: 1112px;
}

.tools .section-title {
  font-size: 27px;
  margin-bottom: 30px;
}

@media screen and (min-width: 992px) {
  .tools .section-title {
    font-size: 48px;
    margin-bottom: 0px;
  }
}

.tools .image-text-block {
  text-align: center;
}

@media screen and (min-width: 992px) {
  .tools .image-text-block {
    text-align: left;
  }
}

.tools .image-text-block h6 {
  font-family: "A Love of Thunder";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin-top: 20px;
  line-height: 118%;
  color: #000000;
}

@media screen and (min-width: 992px) {
  .tools .image-text-block h6 {
    font-size: 38px;
  }
}

.tools .row:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tools .description {
  line-height: 130%;
  margin-top: 10px;
  font-size: 15px;
}

@media screen and (min-width: 992px) {
  .tools .description {
    line-height: 130%;
    margin-top: 30px;
  }
}

.brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.brands .brand {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  min-height: 92px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.brands .brand:nth-child(2) {
  margin: 0 10px;
}

.purpose {
  padding: 80px 0;
  background: #121212;
}

.purpose .container {
  max-width: 1112px;
}

footer {
  background: url(../images/footersmbg.png);
  padding: 40px 0;
  background-size: cover;
}

@media screen and (min-width: 992px) {
  footer {
    background: url(../images/footerbg.png);
    background-size: contain;
    padding: 80px 0;
  }
}

footer .col-md-3,
footer .col-md-2 {
  position: relative;
}

@media screen and (min-width: 992px) {
  footer .col-md-3::after,
  footer .col-md-2::after {
    content: "";
    position: absolute;
    border-right: 1px solid rgba(255, 255, 255, 0.26);
    height: 100%;
    right: -30px;
    top: 0;
  }
  footer .col-md-3:last-child:after,
  footer .col-md-2:last-child:after {
    display: none;
  }
}

footer h6 {
  font-family: "A Love of Thunder";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 100.5%;
  color: #ffffff;
  margin-bottom: 20px;
}

footer p {
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 750;
  font-size: 16px;
  line-height: 118%;
  /* or 19px */
  color: #595858;
}

footer ul {
  padding-left: 0;
}

footer ul li {
  list-style-type: none;
}

footer ul li a {
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 750;
  font-size: 16px;
  line-height: 168.5%;
  text-decoration: none;
  /* or 27px */
  color: #595858;
}

footer .border-bottom {
  border-bottom: thin solid #595858 !important;
  padding-top: 30px;
  padding-bottom: 10px;
}

@media screen and (min-width: 992px) {
  footer .border-bottom {
    border-bottom: none !important;
  }
}

footer .copyright {
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  color: #9b9797;
}

@media screen and (min-width: 992px) {
  footer .copyright {
    font-size: 15px;
  }
}
/*# sourceMappingURL=style.css.map */